[MESSAGES CONTROL]

disable=missing-docstring,
        too-few-public-methods,
        too-many-arguments,
        duplicate-code,
        fixme,
        invalid-name

jobs=0
ignore-patterns=test_.*.py

[FORMAT]
max-line-length=125
max-attributes=12
